h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: end;
}
body {
    background: url("images/Branding.png") no-repeat fixed;
    background-size:contain;
    background-color: black;
  }
h2{
    margin-top: 50%;
}